/*Estilos de presentacion*/


/* body {
    background-color: #1c1c1d;
    background-image: linear-gradient(0deg, #1c1c1d 0%);
} */

main {
    background-color: #201d20;
    background-image: linear-gradient(0deg, #201d20 0%, #353129 50%, #352d2d 100%);
}

#fondoBienvenida {
    background-image: url(./img/central/imagenCentral.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.contenedor-primera-seccion {
    /* width: 62%; */
    padding: 4rem 2rem;
}

.contenedor-primera-seccion h1 {
    color: #FFFAF4;
}


/*Estilos de Cards en general*/

.cardGenerales {
    border: none;
    background-color: transparent;
    padding: 1em;
    margin: none;
    color: white;
}

.secciones__titulo {
    text-align: center;
    height: 4rem;
    margin-top: 1rem;
}


/* .img__ddleche {
    background-image: url(./img/producto/Producto1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
} */

.productos__cards {
    background-color: #201f21;
    padding: 2rem;
}

.productos__cards img {
    width: 100%;
}

.productos__cards h3 {
    color: #D19972;
    padding: 1.5rem;
    text-transform: uppercase;
}

.productos__cards p,
h2 {
    color: #adb5bd;
}

.productos__cards h6 {
    color: #D19972;
}

.masinfo {
    color: #D19972;
    margin: 2rem auto;
    width: 100%;
}

.secciones__titulo--contacto {
    color: #efeae5;
}

.secciones__titulo--contacto button {
    background-color: #292624;
    color: #adb5bd;
}

.recetas__cards {
    background-color: #D19972;
}

footer {
    background-color: #201f21;
    color: #adb5bd;
}


/** Media queries 380px 580PX /

/*Media query*/

@media screen and (min-width:380px) and (max-width:580px) {
    .cardGenerales {
        color: black;
    }
}

@media screen and (min-width:581px) and (max-width:1200px) {
    #fondoBienvenida {
        height: 100%;
    }
    #contenedorBienvenida {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .contenedorTexto {
        margin: 4rem;
    }
}

@media screen and (min-width:1201px) {
    section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: 2rem;
    }
    .contenedor-primera-seccion {
        width: 30%;
        margin: 2rem;
        padding: 4rem 2rem;
        background-color: rgba(0, 0, 0, 0.50);
    }
    .contenedor-primera-seccion p {
        color: #FFFAF4;
    }
    .contenedor-primera-seccion button {
        display: block;
        margin-top: 3rem!important;
        margin: auto;
    }
    .contenedorTexto {
        margin: 4rem;
    }
}